@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Montserrat:wght@400;700&display=swap");
/* ----------------------------
---  GLOBAL STYLING BEGINS  ---
---------------------------- */
/*  color variables saved*/
:root {
  --primary: #89b0ae;
  --secondary: #ffd6ba;
  --tertiary: #bee3db;
  --light: #faf9f9;
  --dark: #555b6e;
  --linkfocus: rgb(117, 8, 8);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

/* global styling from padding to colors and font size, weight and family */
body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  background: var(--light);
  font-family: "Merriweather", serif;
}

/* main parent element (container) styling */
.container-style {
  margin: 20px 30px;
  padding: 20px;
}

/* page title*/
.page-title {
  color: var(--dark);
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: bold;
}

/*  container styling  - around main content*/
.main-cont-background {
  background-color: rgba(190, 227, 219, 0.2);
  padding: 10px;
  margin-bottom: 60px;
}

/* styling for all links */
.link-style {
  color: var(--primary);
  text-decoration: none;
}
/* styling for all links on hover */
.link-style:hover {
  color: var(--tertiary);
}
/* styling for all links on focus */
.link-style:focus {
  color: var(--linkfocus);
}

/* -------------------------------
------  GLOBAL STYLING END -------
------------------------------- */

/* -------------------------------
-----  HEADER STYLING BEGINS -----
------------------------------- */
/* header styling */
header {
  background-color: var(--secondary);
  background-image: linear-gradient(135deg, var(--light) 0%, var(--dark) 90%);
  height: 100px;
}

/* header title - my name - styling */
header h1 {
  margin: auto auto auto 30px;
  color: var(--dark);
  font-style: italic;
}

/* nav-tab container el styling */
.nav-cont {
  margin: auto;
}

/* nav-tab styling */
.nav-ul {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 20px;
  list-style: none;
}

/* nav anchor styling */
nav a {
  color: var(--secondary);
  text-decoration: none;
  font-weight: bold;
}

/* nav-tab-active styling */
.nav-ul-active {
  padding: 5px;
  border-radius: 8px;
  background-color: var(--primary);
  color: var(--dark);
}

/* nav anchor styling on hover */
nav a:hover {
  color: var(--tertiary);
}

/* -------------------------------
-----  CONTACT STYLING BEGINS ----
------------------------------- */
/* styling for all inputs -- only found on contact page */
input {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  width: 600px;
  font-size: 18px;
  color: var(--dark);
}
/* input on focus styling */
input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
/* styling for all text areas -- only found on contact page */
textarea {
  margin-bottom: 20px;
  padding: 5px;
  outline: none;
  border: 1px solid var(--dark);
  width: 600px;
  height: 120px;
  font-size: 18px;
  color: var(--dark);
}
/* styling for text area on focus */
textarea:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* label styling */
label {
  margin-bottom: 5px;
  color: var(--dark);
}

/* error text when inputting information - styling */
.error-text {
  color: var(--dark);
}

/* button styling - all buttons -- only found on contact page */
button {
  width: 90px;
  border-radius: 8px;
  background-color: var(--dark);
  color: var(--light);
}

/* on hover styling */
button:hover {
  background-color: var(--primary);
}
/* on focus styling */
button:focus {
  color: var(--primary);
}
