@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Montserrat:wght@400;700&display=swap");
/* ----------------------------
---  GLOBAL STYLING BEGINS  ---
---------------------------- */
/*  color variables saved*/
:root {
  --primary: #89b0ae;
  --secondary: #ffd6ba;
  --tertiary: #bee3db;
  --light: #faf9f9;
  --dark: #555b6e;
  --linkfocus: rgb(117, 8, 8);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}
/* fadein header welcome text stylying*/
.header1 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 16px;
  text-align: center;
  color: black;
  animation: fadeIn linear 15s;
  animation-iteration-count: infinite;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* global styling from padding to colors and font size, weight and family */
body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  background: var(--light);
  font-family: "Merriweather", serif;
}

/* main parent element (container) styling */
.container-style {
  margin: 20px 30px;
  padding: 20px;
}

/* page title*/
.page-title {
  color: var(--dark);
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: bold;
}

/*  container styling  - around main content*/
.main-cont-background {
  background-color: rgba(190, 227, 219, 0.2);
  padding: 10px;
  margin-bottom: 60px;
}

/* styling for all links */
.link-style {
  color: var(--primary);
  text-decoration: none;
}
/* styling for all links on hover */
.link-style:hover {
  color: var(--tertiary);
}
/* styling for all links on focus */
.link-style:focus {
  color: var(--linkfocus);
}

/* -------------------------------
------  GLOBAL STYLING END -------
------------------------------- */

/* -------------------------------
-----  HEADER STYLING BEGINS -----
------------------------------- */
/* header styling */
header {
  background-color: var(--secondary);
  background-image: linear-gradient(135deg, var(--light) 0%, var(--dark) 90%);
  height: 100px;
}

/* header title - my name - styling */
header h1 {
  margin: auto auto auto 30px;
  color: var(--dark);
  font-style: italic;
}

/* nav-tab container el styling */
.nav-cont {
  margin: auto;
}

/* nav-tab styling */
.nav-ul {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 20px;
  list-style: none;
}

/* nav anchor styling */
nav a {
  color: var(--secondary);
  text-decoration: none;
  font-weight: bold;
}

/* nav-tab-active styling */
.nav-ul-active {
  padding: 5px;
  border-radius: 8px;
  background-color: var(--primary);
  color: var(--dark);
}

/* nav anchor styling on hover */
nav a:hover {
  color: var(--tertiary);
}

/* -------------------------------
-----  CONTACT STYLING BEGINS ----
------------------------------- */
/* styling for all inputs -- only found on contact page */
input {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  width: 600px;
  font-size: 18px;
  color: var(--dark);
}
/* input on focus styling */
input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
/* styling for all text areas -- only found on contact page */
textarea {
  margin-bottom: 20px;
  padding: 5px;
  outline: none;
  border: 1px solid var(--dark);
  width: 600px;
  height: 120px;
  font-size: 18px;
  color: var(--dark);
}
/* styling for text area on focus */
textarea:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* label styling */
label {
  margin-bottom: 5px;
  color: var(--dark);
}

/* error text when inputting information - styling */
.error-text {
  color: var(--dark);
}

/* button styling - all buttons -- only found on contact page */
button {
  width: 90px;
  border-radius: 8px;
  background-color: var(--dark);
  color: var(--light);
}

/* on hover styling */
button:hover {
  background-color: var(--primary);
}
/* on focus styling */
button:focus {
  color: var(--primary);
}

/* Homepage */

.homepage {
  justify-content: center;
}
h1.title {
  color: #417cc0;
  margin-top: 50px;
  font-size: 43px;
  display: flex;
  justify-content: center;
}

.dropbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #417cc0;
  border-radius: 15px;
  color: white;
  font-style: italic;
  font-weight: bold;
  padding: 20px;
  font-size: 16px;
  border: none;
}

.dropdown {
  margin-top: 80px;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  background-color: #45a195;

  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #61e0cf;
}

/* Pet Slides */

* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
  margin: 0;
}
.petSlides {
  display: block;
  width: 100%;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
  display: flex;
}
.dotss {
  display: flex;
  justify-content: center;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #417cc0(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #417cc0;
  font-weight: bolder;
  font-style: italic;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: left;

  animation: float linear 7s;
  animation-iteration-count: infinite;
  opacity: 0;
}
@keyframes float {
  0% {
    margin-left: 0px;
    opacity: 0;
  }
  50% {
    margin-left: 350px;
    opacity: 1;
  }
  100% {
    margin-left: 700px;
    opacity: 0;
  }
}

.dot {
  margin-left: 450px;
  height: 20px;
  width: 20px;
  margin: 0 2px;
  background-color: rgb(2, 2, 2);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #417cc0;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 6s;
  animation-name: fade;
  animation-duration: 10s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

/* Dashboard Profile Section */

div.profile {
  /* background-color:midnightblue; */
  box-shadow: 0 0 20px rgb(0, 0, 0);
  text-align: center;
  padding: 10px;
  color: midnightblue;
  width: 100%;
  justify-content: center;
}
h1.profile {
  padding-top: 10px;
}
h2.profname {
  font-style: italic;
  font-weight: bold;
}
h3.profdata {
  color: rgb(57, 117, 206);
}
.dashboard {
  text-align: center;
}

/* favourites-cards Section */
div.favourites-cards {
  background-color: midnightblue;
  box-shadow: 0 0 20px rgb(0, 0, 0);
  text-align: center;
  width: 300px;
  height: 400px;
  color: white;
}
h2.favs {
  padding-top: 18px;
}
h3.favsname {
  font-style: italic;
}
p.favsdesc {
  font-size: 15px;
  font-weight: bold;
}
div.favourites-cards img {
  box-shadow: 0 0 20px rgb(0, 0, 0);
  width: 80%;
  height: 80%;
}

/* Login Section */
form.login-form {
  width: 320px;
  padding: 15px;
  margin: 0 auto;
  width: 100%;
  padding-left: 590px;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 2px solid midnightblue;
  outline: none;
  border-radius: 10px;
  padding-bottom: 10px;
}
textarea {
  padding-top: 5px;
  border-radius: 10px;
  width: 500px;
  height: 150px;
  padding: 5px;
  color: rgb(0, 0, 0);
}

button.login {
  background-color: midnightblue;
  border-radius: 15px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
  padding: 15px 20px;
}
label {
  color: midnightblue;
  font-weight: bolder;
  font-size: 20px;
  padding: 5px;
}

div.container {
  width: 50%;
  padding: 10px;
}
h1.login {
  color: midnightblue;
  font-size: 50px;
  font-weight: bolder;
  margin-left: 700px;
}
div.emailLog {
  width: 50%;
  padding: 10px;
}

div.emailLog {
  width: 100%;
}

/* Signup Section */
form.login-form {
  width: 320px;
  padding: 15px;
  margin: 0 auto;
  width: 100%;
  padding-left: 590px;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 2px solid midnightblue;
  outline: none;
  border-radius: 10px;
  padding-bottom: 10px;
}
textarea {
  padding-top: 5px;
  border-radius: 10px;
  width: 500px;
  height: 150px;
  padding: 5px;
  color: rgb(0, 0, 0);
}
button.signup-btn {
  background-color: midnightblue;
  border-radius: 15px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
  padding: 15px 20px;
}
label {
  color: midnightblue;
  font-weight: bolder;
  font-size: 20px;
  padding: 5px;
}

h1.signup {
  color: midnightblue;
  font-size: 50px;
  font-weight: bolder;
  margin-left: 410px;
}
input#email-signup {
  margin-left: 40px;
}

/* Donations Page Section */
.donations {
  border-radius: 20px;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 20px rgb(0, 0, 0);
  padding: 20px;
  width: 80%;
  margin-left: 80px;
  margin-top: 120px;
}
h1.donate {
  color: midnightblue;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  width: 100%;
}

img.img-donate {
  width: 80%;
  width: 400px;
  margin-left: 165px;
  border: 20px solid midnightblue;
  box-shadow: 0 0 20px rgb(0, 0, 0);
}
form.donate-form {
  width: 320px;
  padding: 15px;
  margin: 0 auto;
  width: 100%;
  padding-left: 210px;
}
input#email {
  margin-left: 44px;
}
input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 2px solid midnightblue;
  outline: none;
  border-radius: 10px;
  padding-bottom: 10px;
}
textarea {
  padding-top: 5px;
  border-radius: 10px;
  width: 500px;
  height: 150px;
  padding: 5px;
  color: rgb(0, 0, 0);
}

button.donate-btn {
  background-color: midnightblue;
  border-radius: 15px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
  padding: 15px 20px;
}
label {
  color: midnightblue;
  font-weight: bolder;
  font-size: 20px;
  padding: 5px;
}
div.form-group {
  padding: 10px;
}

/* Success Page Section */
.congrats {
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 20px rgb(0, 0, 0);
  padding: 20px;
  width: 80%;
  margin-left: 80px;
  margin-top: 120px;
}
h1.thankyou,
h2.thankyou {
  color: midnightblue;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  width: 100%;
}

img.img-thanks {
  width: 80%;
  width: 400px;
  margin-left: 165px;
  border: 20px solid midnightblue;
  box-shadow: 0 0 20px rgb(0, 0, 0);
}
h1.cats {
  color: midnightblue;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  width: 100%;
}

/* Dog & Cat Cards */
img.img-cats {
  width: 100%;
  border-left: 10%;
  border-radius: 15px 15px 0px 0px;
}

button.btn-fav {
  background-color: rgb(51, 162, 182);
  opacity: 0.8;
  border-radius: 50%;
  color: white;
  font-size: 10px;
  margin-bottom: 50px;
  padding: 15px 20px;
}

.cats-cards {
  border-radius: 15px;
  background-color: midnightblue;
  box-shadow: 0 0 20px rgb(0, 0, 0);
  text-align: center;
  width: 280px;
  height: 390px;
  color: white;
  margin: 20px;
}
div.card-text {
  margin-top: -5px;
  text-align: center;
  font-size: 12px;
}
